body 
{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
h1 {
    text-align: center;
}
.button 
{
    
    width: 80px;
    height: 25px;
    text-align: center;
    float:right;
    background-color: rgba(212, 198, 198, 0.924);
    margin: 0 2px 0 2px;
    cursor: pointer;
}
.button a 
{
    text-decoration: none;
    color: #555;
    line-height: 25px;
}
#container 
{
    width:50%;
    margin: 150px auto;
    padding: 50px 30px;
    background-color: rgb(80, 206, 238);
    border-radius:3px;
    color: #fff;
    box-shadow: 0 0 10px 0 #999;
}
ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}
ul li
{
    background: rgb(168, 216, 223);
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: inline-block; 
}
#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
}